body {
  /*background-color: lightgrey; */
}

hr {
  border-top: 3px double #8c8b8b;
}

.header, .movies-list, .add-movie-form {
  margin: 0 25px;
}

.inner-addon {
  position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 7px 0 10px 7px;
  pointer-events: none;
}

.left-addon .glyphicon { 
  left: 0px;
  }
.right-addon .glyphicon { 
  right: 0px;
  }

.left-addon input { 
  padding-left: 25px;
  }
.right-addon th { 
  padding-right: 30px;
  }

.glyphicon-plus-sign {
  color: red;
  font-size: 40px;
  float: right;
  z-index: 1;
  top: -75px;
  left: -50px;
  
}
.delete {
  color: red;
  cursor: pointer;
}

.sort {
  float: right;
}

#search {
  border-radius: 25px;
  width: 300px;
}

#hours {
  width: 30%;
  display: inline;
}

#minutes {
  width: 30%;
  display: inline;
  margin-left: 20px;
}

.buttons {
  padding-right: 50px;
  margin-top: 30px;
  float: right;
}

form {
  margin-top: 30px;
}